body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background: #fff;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0;
}

ul {
  list-style-type: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
}

.container {
  max-width: 1158px;
  padding: 0 15px;
  margin: 0 auto;
}

.header {
  border-bottom: 1px solid #e7e9fc;
}

.header .container {
  display: flex;
  align-items: center;
}

.header-navigation {
  display: flex;
  align-items: center;
}

.header-menu-list {
  display: flex;
  gap: 40px;
}

.header-address {
  margin-left: auto;
}

.header-address-list {
  display: flex;
  gap: 40px;
}

.header-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 117%;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-decoration: none;
  color: #4d5ae5;
  display: inline-block;
  margin-right: 76px;
}

.header-logo .header-logo-studio {
  color: #2e2f42;
  display: inline-block;
}

.header-logo:hover,
.header-logo:focus,
.header-logo .header-logo-studio:hover,
.header-logo .header-logo-studio:focus {
  color: #404bbf;
}

.header-menu-item-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: #2e2f42;
  padding: 24px 0;
  display: block;
}

.header-menu-item-link:hover,
.header-menu-item-link:focus {
  color: #404bbf;
}

.header-address {
  font-style: normal;
}

.header-address-item-link {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: #434455;
}

.header-address-item-link:hover,
.header-address-item-link:focus {
  color: #404bbf;
}

.hero {
  background: #2e2f42;
  padding-top: 188px;
  padding-bottom: 188px;
}

.hero-title {
  font-size: 56px;
  line-height: 107%;
  letter-spacing: 0.02em;
  text-align: center;
  color: #fff;
  max-width: 496px;
  margin: 0 auto;
  margin-bottom: 48px;
}

.hero-button {
  cursor: pointer;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.04em;
  color: #fff;
  background: #4d5ae5;
  display: block;
  margin: 0 auto;
  border: none;
  border-radius: 4px;
  min-width: 169px;
  height: 56px;
}

.hero-button:hover,
.hero-button:focus {
  background-color: #404bbf;
}

.studio {
  padding-top: 120px;
  padding-bottom: 120px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.studio-item-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}

.studio-item-text {
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.studio-list {
  display: flex;
  gap: 24px;
}

.studio-item {
  width: calc((100% - 24px * 3) / 4);
}

.team {
  background: #f4f4fd;
  padding-top: 120px;
  padding-bottom: 120px;
}

.team-title {
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
  color: #2e2f42;
  margin-bottom: 72px;
}

.team-item {
  background: #fff;
  width: calc((100% - 24px * 3) / 4);
  border-radius: 0px 0px 4px 4px;
}

.team-item-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 8px;
}

.team-item-text {
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
}

.team-item-card {
  padding: 32px 0;
}

.team-list {
  display: flex;
  gap: 24px;
}

.portfolio {
  padding-top: 120px;
  padding-bottom: 120px;
}

.portfolio-title {
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
  color: #2e2f42;
  margin-bottom: 72px;
}

.portfolio-item-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}

.portfolio-item-text {
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  gap: 48px 24px;
}

.portfolio-item {
  width: calc((100% - 24px * 2) / 3);
}

.portfolio-item-card {
  border-bottom: 1px solid #e7e9fc;
  border-left: 1px solid #e7e9fc;
  border-right: 1px solid #e7e9fc;
  padding: 32px 16px;
  width: 360px;
  height: 120px;
}

.footer {
  background: #2e2f42;
  padding-top: 100px;
  padding-bottom: 100px;
}

.footer-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-decoration: none;
  color: #4d5ae5;
  display: inline-block;
  margin-bottom: 16px;
}

.footer-logo .footer-logo-studio {
  color: #f4f4fd;
}

.footer-logo:hover,
.footer-logo:focus,
.footer-logo .footer-logo-studio:hover,
.footer-logo .footer-logo-studio:focus {
  color: #404bbf;
}

.footer-text {
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  max-width: 264px;
}
